[package]
name = "platformer-test"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ggez = "0.7.0"
glam = "0.20.2"

[dependencies.tiled]
git = "https://github.com/mapeditor/rs-tiled"
rev = "4227705a06a7251e90c27f3fe2208e8afbb6287e"
