[package]
name = "platformer-test"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
glam = "0.20.2"
ggez-egui = "0.1.7"
ggez = "0.7.0"
tiled = "0.10.1"
enum-map = "2.0.3"

[profile.dev.package.ggez]
opt-level = 3
