(
    actions: {
        Jump: (
            primary: Key(Space),
            secondary: Some(
                GamepadButton((
                    Gamepad(0),
                    South
                ))
            )
        ),
        Pause: (
            primary: Key(Escape),
            secondary: Some(
                GamepadButton((
                    Gamepad(0),
                    Start
                ))
            )
        ),
        Down: (
            primary: Key(Down),
            secondary: Some(
                GamepadButton((
                    Gamepad(0),
                    DPadDown
                ))
            )
        )
    },
    axes: {
        Horizontal: (
            primary: DigitalJoystick(
                positive: Key(Right),
                negative: Key(Left)
            ),
            secondary: Some(GamepadAxis((
                Gamepad(0),
                DPadX
            )))
        )
    }
)
